* {
  margin: 0;
  padding: 0;
}

.DesktopNav_container {
  display: flex;
  justify-content: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
   
}

.logo {
  width: 200px;
  padding-top: 5px;
}

.DesktopNav_centerContainer {
  display: flex;
  justify-content: left;
  background-color: #BF163D;
  color:white;
  margin-top: 3px;
  margin-left: 25px;
  border-radius: 6px;
  padding-top: 5px;
  width:80%;
  height: 45px;
  margin-bottom: 0px;
}

.link {
  margin-right: 5px;
  padding: 8px;
  margin-top: 10px;
  align-items: center;
  justify-items: center;
}
.link1 {
  margin-right: 5px;
  padding: 3px;
  margin-top: 0px;
  align-items: center;
  justify-items: center;
}
.links {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-top: 5px;
}

.links > h4 {
  font-weight: 100;
  color:white;
  margin-top: 0px;
}

.align_container {
  background-image: url("../Images/bannerHome.jpg");
  width: auto;
  height: 597px;
  scale:fill;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center ;
  margin-left:4em;
  margin-right:4em;
}

.nav_position{
  display: flex;
  width:750px;
  margin-left: 2em;
  justify-content: space-evenly;
  align-items: center;
}

.nav_position1{
  display: flex;
  justify-content: space-evenly;
  margin-left: 5em;
}