.container{
  width:65em;
  margin-top: 2em;
  margin-left: 10em;
  margin-bottom: 0em;
  border-radius:8px;
  box-shadow: .5px .5px grey;
  color:black;
  background-color: #F4F4F4;
}

.spinner{
  display:flex;
  margin:5px;
  justify-content:space-around;
  color:black;
}

.checkoption{
  display:flex;
  justify-content:space-around;
  margin-top:1em;
  color:black;
  font-size: medium;
  
}

.ammenities{
  display:flex;
  justify-content:space-around;
  margin-top: 1em;
  margin-bottom: 0em;
  color:black;
  font-size: medium;
}

.search{
  display:flex;
  background-color:#3479C7;
  color: white;
  border-radius:6px;
  font-size: medium;
  font-weight:bold;
  justify-content: center;
  align-items:center;
  justify-content:center;
  width:100px;
  margin:.5em .5em;
  }

.search:hover{
  width:110px;
  height:30px;
}
.container_button{
  display:flex;
  justify-content:center;
}

