.main_container{
  margin: 0em;
  padding: 0em;
}

.container_search{
  width:65em;
  margin-top: 2em;
  margin-left: 10em;
  margin-bottom: 0em;
  border-radius:8px;
  box-shadow: .5px .5px grey;
  color:black;
  background-color: #F4F4F4;
}

.Container{
  margin: 0px;
  padding: 0px;
}

.Container > h3 {
  margin-top: 50px;
  padding: 20px;
  margin-left: 85px;
  font-weight: 700;
  font-size: 20px;
}

.spinner{
  display:flex;
  margin:5px;
  justify-content:space-around;
  color:black;
}

.checkoption{
  display:flex;
  justify-content:space-around;
  margin-top:1em;
  color:black;
  font-size: medium;
  
}

.ammenities{
  display:flex;
  justify-content:space-around;
  margin-top: 1em;
  margin-bottom: 0em;
  color:black;
  font-size: medium;
}

.search{
  display:flex;
  background-color:#3479C7;
  color: white;
  border-radius:6px;
  font-size: medium;
  font-weight:bold;
  justify-content: center;
  align-items:center;
  justify-content:center;
  width:100px;
  margin:.5em .5em;
  }

.search:hover{
  width:110px;
  height:30px;
}
.container_button{
  display:flex;
  justify-content:center;
}


.listedHouses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 10px;
}

.img-conatiner {
  margin-bottom: 10px;
}

.img-conatiner > img {
  width: 400px;
  height: 200px;
}

.loadingScreen {
  width: 100%;
}

.House_priceAndDetails {
  margin-bottom: 40px;
}
.House_price {
  font-size: 18px;
  font-weight: 500;
}

.House_snipDescription {
  font-size: 15px;
  font-weight: 500;
}

.rental_search{
  margin-left: 3em;  
  display: flex;
  justify-content: left;
  align-items: center;
  width: 95%;
  padding:1em;
  

}

.image_display{
  margin-left: 0 em;
  height:270px;
  width:400px;
  border-radius: 6px;
  border: solid grey 1px;
}

.home_desc{
  height:250px;
  width:65%;
  margin-left: 2em;
  border-radius: 6px;
}

.home_title{
  color:red;
  font-size:x-large;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0px;
}

.desc_line2{
  font-size:large;
  font-weight: bold;
}

.desc_line3{
  font-size:large;
  
}

span{
  padding:.5em;
  justify-content: space-evenly;
}

.rent_search{
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}